.App {
  text-align: center;
}

.container{
  border:1px solid rgb(87, 87, 250);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 10px auto;
}
.box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(165, 195, 241);
  padding: 3px 10px;
  color: rgb(26, 26, 83);
  font-size: 18px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
form{
  display: flex; 
  flex-direction: column;
 
}

Input{
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid rgb(87, 87, 250);;
  padding: 10px 12px;

 
}
button{
  background-color: rgb(87, 87, 250);;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 5px;
  border:1px solid rgb(87, 87, 250);;
  margin: 10px;

}
label{
 
  margin-right: 30px;
  
}
.column{
  display: flex;
 flex-direction: column;
 
}
.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(165, 195, 241);
  width: 200px;
  height: 200px;
  border-radius: 5px;
  padding: 3px 10px;
  color: rgb(26, 26, 83);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}